<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Starting Clojure</title>
    {% style "/css/screen.css" %}
  </head>
  <body>
    <header>
        <ul>
            <li>IntelliJ</li>
            <li>Sublime Text</li>
            <li>Atom</li>
            <li>Eclipse</li>
            <li>VS Code</li>
            <li>Vim</li>
            <li>Emacs</li>
        </ul>
    </header>

    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
