<!DOCTYPE html>
<html>
<head>
    <title>Something bad happened</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% style "/css/screen.css" %}
    <link rel="stylesheet" href="https://cdn.concisecss.com/concise.min.css">
</head>
<body>
<section>
    <h1><span class="c-error">Error: {{status}}</span></h1>
    <hr>
    {% if title %}
    <h2>{{title}}</h2>
    {% endif %}
    {% if message %}
    <h4 class="c-error">{{message}}</h4>
    {% endif %}
</section>
</body>
</html>
