.c-error {
    color: #da3c3c;
}

.index-nav > ul {
    padding: 0.75rem 2em;
    margin-top: 0;
}
.index-nav > ul > li {
    list-style-type: circle;
}

.title {
    text-align: center;
    padding-top: 50px;
}

pre {
  background-color: transparent;
  border: 1px solid #dcdcdc;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  padding-right: 0; }
  pre code {
    color: #777;
    background-color: transparent;
    font-size: 88.88889%; }

code,
pre {
  background-color: transparent; }

code {
  border: 0;
  background-color: #f5f5f5; }

.index-nav {
  font-family: "sofia-pro", sans-serif;
  font-size: 0.88889rem; }
  .index-nav.-secondary {
    font-size: 1rem;
    margin: 3rem 0; }
    .index-nav.-secondary > ol {
      padding: 0; }
    .index-nav.-secondary .section-nav {
      font-family: "sofia-pro", sans-serif; }
      .index-nav.-secondary .section-nav:not(:first-child) {
        border-top: 1px solid #dcdcdc; }
    .index-nav.-secondary .list-nav {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      margin-bottom: 0.75rem;
      font-family: "ff-tisa-web-pro", serif; }
      .index-nav.-secondary .list-nav a {
        -webkit-font-feature-settings: initial;
                font-feature-settings: initial;
        letter-spacing: 0; }
  .index-nav .section-nav {
    font-weight: bold;
    line-height: 2; }
    .index-nav .section-nav a {
      letter-spacing: 0.05em;
      -webkit-font-feature-settings: "smcp" 1, "c2sc" 1;
              font-feature-settings: "smcp" 1, "c2sc" 1; }
  .index-nav .list-nav {
    margin-left: 0;
    line-height: 1.8;
    padding-left: 1em; }
    .index-nav .list-nav a {
      font-weight: normal;
      -webkit-font-feature-settings: initial;
              font-feature-settings: initial;
      letter-spacing: 0; }
  .index-nav a.-active {
    color: #D34A28; }
  .index-nav .logo {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
    display: block; }
    .index-nav .logo img {
      height: 3rem; }
  .index-nav > ol {
    padding: 0.75rem 2em;
    margin-top: 0; }
  .index-nav li:before {
    color: #D34A28; }
  .index-nav h1 {
    text-align: center;
    margin-top: 0.75rem;
    font-size: 1rem;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 1.05rem;
    text-transform: uppercase; }

.-open-offcanvas {
  overflow: hidden; }
  .-open-offcanvas .sidebar-offcanvas {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .-open-offcanvas .content-offcanvas {
    overflow-y: hidden; }
    @media (min-width: 768px) {
      .-open-offcanvas .content-offcanvas {
        -webkit-transform: translateX(7.5rem);
                transform: translateX(7.5rem);
        overflow-y: auto; } }
  .-open-offcanvas .close-offcanvas .icon {
    background-color: transparent; }
  .-open-offcanvas .close-offcanvas > .icon:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .-open-offcanvas .close-offcanvas > .icon:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .-open-offcanvas .close-offcanvas > .icon:before,
  .-open-offcanvas .close-offcanvas > .icon:after {
    background-color: #D34A28; }

.sidebar-offcanvas {
  width: 15rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 700ms;
  transition: -webkit-transform 700ms;
  transition: transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  border-right: 1px solid #dcdcdc;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: white;
  z-index: 1; }

.content-offcanvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 700ms;
  transition: -webkit-transform 700ms;
  transition: transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms; }

.close-offcanvas {
  background-color: white;
  height: 50px;
  position: fixed;
  top: 10px;
  left: 10px;
  overflow: hidden;
  text-indent: -9999px;
  -webkit-transition: background-color 150ms, -webkit-transform 0.5s;
  transition: background-color 150ms, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 150ms;
  transition: transform 0.5s, background-color 150ms, -webkit-transform 0.5s;
  white-space: nowrap;
  width: 50px;
  z-index: 2; }
  .close-offcanvas:focus, .close-offcanvas:hover, .close-offcanvas:active {
    background-color: white; }
  .close-offcanvas > .icon {
    background-color: #211b1b;
    bottom: auto;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 22px; }
    .close-offcanvas > .icon:before {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px); }
    .close-offcanvas > .icon:after {
      -webkit-transform: translateY(6px);
              transform: translateY(6px); }
    .close-offcanvas > .icon:before, .close-offcanvas > .icon:after {
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      background-color: inherit;
      content: '';
      height: 100%;
      right: 0;
      position: absolute;
      top: 0;
      /*transform: translateZ(0);*/
      -webkit-transition: width 0.5s, top 0.3s, -webkit-transform 0.5s;
      transition: width 0.5s, top 0.3s, -webkit-transform 0.5s;
      transition: transform 0.5s, width 0.5s, top 0.3s;
      transition: transform 0.5s, width 0.5s, top 0.3s, -webkit-transform 0.5s;
      width: 100%; }